@import './base.css';

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}
main {
  padding: 40px 0;
  height: calc(100vh - var(--header-height));
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  height: 100%;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
